@model WebProject.Domain.Models.WeatherTask.WeatherDayView

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>WeatherDayView</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="City" class="control-label"></label>
                <input asp-for="City" class="form-control" />
                <span asp-validation-for="City" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WeatherName" class="control-label"></label>
                <input asp-for="WeatherName" class="form-control" />
                <span asp-validation-for="WeatherName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WeatherShortDescription" class="control-label"></label>
                <input asp-for="WeatherShortDescription" class="form-control" />
                <span asp-validation-for="WeatherShortDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WeatherTemperature" class="control-label"></label>
                <input asp-for="WeatherTemperature" class="form-control" />
                <span asp-validation-for="WeatherTemperature" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WeatherTemperatureFeelsLikeCels" class="control-label"></label>
                <input asp-for="WeatherTemperatureFeelsLikeCels" class="form-control" />
                <span asp-validation-for="WeatherTemperatureFeelsLikeCels" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create Click" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
